.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    gap: 0px;
    opacity: 0px;
    padding: 37px 100px;
    background-color:
        rgba(20, 29, 47, 1);
        img{
            cursor: pointer;
        }

    a {
        color: white;
        text-decoration: none;
        padding: 20px;
        font-size: 30px;

        &:hover {
            color: #70E61C;
        }
    }

    p {
        color: white;
        font-size: 45px;
        cursor: pointer;
        position: relative;
    }

    .letter-s {
        span {
            color: linear;
        }
    }
    .menu{
        position: absolute;
        right: 30px;
    }
}


@media (max-width: 1035px) {
    .header {
        padding: 37px 25px;
    }
}

@media (max-width: 800px) {
    .links{
        display: none;
    }
}

@media (min-width: 800px){
    img{
        display: none;
        
    }
  }