.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    gap: 0px;
    opacity: 0px;
    padding: 37px 100px;
    max-width: 1793px;
    margin: 0px auto;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9999;
    background-color:
        rgba(20, 29, 47, 1);

    @media (max-width: 1035px) {
        padding: 37px 25px;
    }

    

    .links {
        display: flex;
        position: relative;

        
        .linksMenuDisplayNone{
            @media(max-width:830px) {
                display: none;
            }
        }
        
    }

    img {
        cursor: pointer;

        @media (min-width: 830px) {
            display: none;
        }
    }

    a {
        color: white;
        text-decoration: none;
        padding: 20px;
        font-size: 30px;

        &:hover {
            color: #70E61C;
        }
    }

    p {
        color: white;
        font-size: 45px;
        cursor: pointer;
        position: relative;
    }

    .letter-s {
        span {
            color: linear;
        }
    }

    .menu {
        position: absolute;
        right: 30px;
    }
}
.menuGermany {
    z-index: 9999;
    position: fixed;
    top: 100px;
    right: 100px;

    .germany {
        height: 30px;
        width: 50px;
        display: block !important;

        // z-index: 9999;
        cursor: pointer;
    }
}