<section class="footer">
    <div class="end-line"></div>
    <div>
        <a href="#oben">
            <div class="split-color">Andrea<span class="half-colored">s</span></div>
        </a><br>
        @if (ls.german) {
            <a routerLink="/imprint">Impressum</a>
        }@else {
            <a routerLink="/imprint"><I></I>Imprint</a>
        }
        
        
        <!-- <a href="imprint">Impressum</a> -->
    </div>
    <div>© Andreas Pflaum 2024</div>
    <div class="images">
        <a href="https://github.com/AndyPflaum" target="_blank"><img src="assets/img/vector(1).png" alt=""></a>
        <a href="https://www.linkedin.com/in/andreas-pflaum-211548284/" target="_blank"><img src="assets/img/vector(3).png" alt=""></a>
    </div>
</section>