<section>
    <div class="about-me">
        <div class="line"></div>
        <a href="https://github.com/dashboard" target="_blank"><img src="assets/img/vector(1).png" alt=""></a>
        <a href="#contact"><img src="assets/img/vector(2).png" alt=""></a>
        <a href="https://www.linkedin.com/in/me/" target="_blank"><img src="assets/img/vector(3).png" alt=""></a>
        <a class="mail" href="#contact">andyreas.pa&#64;gmail.com</a>

    </div>
    <div class="scroll">
        <a href="#aboutMe"><span>Runterscrollen &rarr;</span></a>
    </div>

    <div class="itIsMe">
        <div class="performance">
            <h1> Über mich</h1>
            <span>Hallo und willkommen auf meiner Website! Ich bin ein Frontend-Entwickler mit Wohnsitz in Merenberg,
                Deutschland. Ich liebe es, Probleme zu lösen und neue Herausforderungen anzunehmen. Ich freue mich sehr,
                dass Sie den Weg hierher gefunden haben.
            </span>
            <div class="box">
                <div>
                    <img src="assets/img/bulbDesktop.png" alt="">
                </div>
                <div>Bei der Umsetzung innovativer Ideen freue ich mich auf die Zusammenarbeit mit Designern und
                    Backend-Entwicklern. Meine Leidenschaft für das Programmieren motiviert mich, über die neuesten
                    Branchentrends informiert zu bleiben und meine Fähigkeiten ständig weiterzuentwickeln.
                </div>

            </div>
            <div class="box">
                <div>
                    <img src="assets/img/puzzleDesktop.png" alt="">
                </div>
                <div>
                    Programmieren hat einen besonderen Platz in meinem Herzen, weil es mir ermöglicht, Ideen in die
                    Realität umzusetzen. Die Fähigkeit, etwas aus dem Nichts zu erschaffen, komplexe Probleme zu lösen
                    und ständig neue Technologien zu erlernen, ist unglaublich bereichernd.
                </div>
            </div>

        </div>
        <div class="profilbild">

            <div class="imgBild"><img src="assets/img/andyKopf.png" alt="Profilbild"></div>
            <div class="line-right">

            </div>
        </div>

    </div>
    <img class="purple" src="assets/img/purpleShadow2.png" alt="">
</section>