<section>
    <div class="about-me">
        <div class="line"></div>
        <a href="https://github.com/dashboard"><img src="assets/img/vector(1).png" alt=""></a>
        <a href="#contact"><img src="assets/img/vector(2).png" alt=""></a>
        <a href="https://www.linkedin.com/in/me/"><img src="assets/img/vector(3).png" alt=""></a>
        <a class="mail" href="#contact">andyreas.pa&#64;gmail.com</a>

    </div>
    <div class="scroll">
        <a href="#aboutMe"><span>Runterscrollen &rarr;</span></a>
    </div>

    <div class="itIsMe">
        <div class="performance">
            <h1> Über mich</h1>
            <span>Hallo und willkommen auf meiner Website! Ich bin ein Frontend-Entwickler mit Wohnsitz in Merenberg,
                Deutschland. Ich liebe es, Probleme zu lösen und neue Herausforderungen anzunehmen. Ich freue mich sehr,
                dass Sie den Weg hierher gefunden haben.
            </span>
            <div class="box">
                <div>
                    <img src="assets/img/bulbDesktop.png" alt="">
                </div>
                <div>Lorem ipsum dolor sit amet consectetur adipisicing
                    elit. Illo
                    recusandae vero
                    repudiandae consequuntur sunt nostrum, minus labore voluptatem hic tenetur aut eos repellendus quam
                    excepturi, quibusdam eligendi error in eaque.
                </div>

            </div>
            <div class="box">
                <div>
                    <img src="assets/img/puzzleDesktop.png" alt="">
                </div>
                <div>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus soluta a
                    nesciunt modi est facilis sit ad cum fugiat quisquam! Tenetur quis ab blanditiis, error provident
                    earum
                    atque odit quod!
                </div>
            </div>

        </div>
        <div class="profilbild">

            <div class="imgBild"><img src="assets/img/andyKopf.png" alt="Profilbild"></div>
            <div class="line-right">

            </div>
        </div>

    </div>
    <img class="purple" src="assets/img/purpleShadow2.png" alt="">
</section>