section {
    max-width: 1990px;
    margin: 0px auto;
    margin-top: 200px;
    .scroll {
        transform: rotate(90deg);
        position: absolute;
        font-size: 20px;
        top: 900px;
        right: 0px;
        cursor: pointer;
        animation: move 1s ease-in-out infinite;
        z-index: 99;
        @media (max-width: 800px){
            display: none;
        }

        a {
            text-decoration: none;
            color: white;
        }

        @keyframes move {
            0% {
                top: 900px;
            }

            50% {
                top: 920px;
            }

            100% {
                top: 900px;
            }
        }
    }

    .performance {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 35%;
        padding-left: 200px;
        font-size: 16px;
        margin: 5px;
        

        @media (max-width: 1280px) {
            width: 100%;
            padding: 0px 100px;
        }
        @media (max-width: 800px){
            width: 100%;
            padding: 0px 25px;
        }

        

        h1 {
            font-size: 90px;
            padding-bottom: 20px;

            @media (max-width: 1280px) {
                text-align: center;
            }

            @media (max-width:1093px) {
                text-align: center;
            }
        }

        .img {
            height: 50px;
            width: 50px;
        }
    }

    .itIsMe {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        .box {
            display: flex;
            gap: 30px;
        }

        .profilbild {
            display: flex;
            align-items: center;

            @media(max-width:1280px) {
                display: none;
            }

            img {
                height: 300px;
                width: auto;
                border: 3px solid rgba(112, 230, 28, 1);
                border-radius: 50%;
                z-index: 5;
            }
        }
    }

    .line-right {
        width: 50vw;
        padding-right: 0px;
        border-bottom: 3px solid rgba(112, 230, 28, 1);
        right: 0;
        z-index: 2;
        position: relative;
        margin-right: -37vw;

        @media (max-width: 1280px) {
            width: 95px;
        }
    }

    @media (max-width: 800px) {
        .mail {
            display: none;
        }

    }
}

.purple {
    position: absolute;
    height: 800px;
    width: auto;
    top: 1000px;
    right: 0px;
    z-index: -1;
    @media (max-width: 800px){
        width: 380px;
    }
}