.section {
    position: relative;
    max-width: 1990px;
    margin: 0px auto;
}

.contact {
    display: flex;
    align-items: center;


    .line {
        width: 100px;
        border-bottom: 3px solid rgb(112, 230, 28);
        margin: 80px 0;
        position: absolute;
    }

    h1 {
        padding-left: 100px;
    }
}

a {
    img {
        position: absolute;
        right: 50px;
        bottom: 30px;
    }
}


.container {
    padding: 0px 200px;
    max-width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 50px;

    .interest {
        width: 50%;
    }

    .checkbox {
        display: flex;
        width: 260px;

        p {
            font-size: 18px;
            text-underline-offset: inherit;
        }

        input {
            height: 30px;
            cursor: pointer;
        }

        a {
            text-decoration: underline;
            color: white;
            font-size: 18px;

            &:hover {
                color: rgba(151, 71, 255, 1);
            }
        }

    }

    h3 {
        font-size: 32px;
    }

    .mail {
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            position: relative;
            z-index: 2;



        }

        span {
            color: red;
            font: bold;
            font-size: 20px;
            text-align: center;
        }

    }

    input {
        width: 450px;
        height: 50px;
        border-radius: 10px;
        border: 2px solid rgba(151, 71, 255, 1);
        background-color: transparent;
        color: white;
        font-size: 20px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

    }

    textarea.big-input {
        height: 202px;
        width: 450px;
        border-radius: 10px;
        border: 2px solid rgba(151, 71, 255, 1);
        background-color: transparent;
        color: white;
        font-size: 20px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

    }

    button {
        height: 58px;
        width: 253px;
        border-radius: 10px;
        color: white;
        cursor: not-allowed;

        &.enabled-button {
            background-color: rgba(112, 230, 28, 1);
            cursor: pointer;
        }

        &.disabled-button {
            background-color: gray; // Color when disabled
        }
    }

    img {
        position: absolute;
        right: 0;
        bottom: 0px;
        z-index: -1;
    }

    .goUp {
        position: absolute;
        right: 50px;
        cursor: pointer;
        z-index: 5;
    }
}

.end-line {
    margin-top: 100px;
    width: 100%;
    border-bottom: 3px solid rgba(112, 230, 28, 1);
    z-index: 2;
}

@media(max-width:1200px) {
    .container {
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 100px;

        .mail {
            input {
                width: 320px;
            }

            textarea {
                width: 320px;
            }
        }

    }
}


@media(max-width:350px) {
    .container {
        .mail {
            input {
                width: 200px;
            }

            textarea {
                width: 200px;
            }

        }
    }
}