<section>
    <div class="contact">
        <div class="line"></div>
        <h1>Kontakt</h1>
    </div>

    <div id="contact" class="container">
        <div>
            <h3>Interesse geweckt?</h3>
            <span>Nutzen Sie gerne dieses Formular, um mit mir in Kontakt zu treten. Ich bin gespannt darauf, von Ihnen
                zu hören, Ihre Ideen kennenzulernen und durch meine Arbeit zu Ihren Projekten beizutragen.</span> <br>
            <br>
            <span>
                Suchen Sie einen Fontend Developer? <b>Kontaktieren Sie mich!</b>
            </span>
        </div>
        <div class="mail"> 
            <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
                <input [(ngModel)]="contactData.name" name="name" type="text" placeholder=" Your name" required>
                <input [(ngModel)]="contactData.email" name="email" type="email" placeholder=" Your email" required pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}">
                <textarea #message="ngModel" minlength="4" [(ngModel)]="contactData.message" name="message" class="big-input" placeholder="Your message" required></textarea>
                @if (!message.valid && message.touched) {
                    <span>Fülle bitte alle Felder aus!</span>
                }
                <button>Senden</button>
            </form>
        </div>
        <img src="assets/img/greenShadow2(1).png" alt="">
         <a href="#header"><img class="goUp" src="assets/img/goUpButton.png" alt=""></a>
        
    </div>
    <div class="end-line"></div>
</section>