.section {
    max-width: 1990px;
    margin: 0px auto;
    margin-bottom: 80px;



}

.gooUp {
    position: relative;
    max-width: 1990px;
    margin: 0px auto;

    .goUp {
        position: absolute;
        top: -50px;
        right: 120px;
        cursor: pointer;
        z-index: 99;
        margin-bottom: 50px;

        @media (max-width:1035px) {
            right: 50px;
        }

        @media (max-width:880px) {
            right: 25px;
        }

        @media (max-width:460px) {
            top: -40px;
        }
    }
}

.contact {
    display: flex;
    align-items: center;
    scroll-snap-align: start;

    .line {
        position: relative;
        width: 58vw;
        border-bottom: 3px solid rgb(112, 230, 28);
        margin: 80px 0;
        margin-left: -50vw;
    }

    h1 {
        padding-left: 50px;
    }
}

a {
    img {
        position: absolute;
        right: 50px;
        bottom: 30px;
    }
}

.container {
    padding: 0px 200px;
    max-width: 100%;
    display: flex;
    align-items: flex-start;
    gap: 50px;
    margin-bottom: 30px;

    @media(max-width:1200px) {
        flex-direction: column;
        align-items: center;
        gap: 100px;
        padding: 0px 100px;
    }

    @media(max-width:640px) {
        padding: 0px 25px;
    }

    .checkbox {
        display: flex;
        align-items: center;
        height: 20px;
        margin-top: 30px;
        gap: 10px;

        p {
            font-size: 18px;
            text-underline-offset: inherit;
        }


        input[type="checkbox"] {
            appearance: none;
            width: 30px;
            height: 30px;
            border: 2px solid rgb(112, 230, 28);
            background-color: transparent;
            cursor: pointer;
            position: relative;
            border-radius: 0;
        }

        input[type="checkbox"]:checked {
            background-color: transparent;
        }

        input[type="checkbox"]:checked::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            width: 14px;
            /* Adjusted to be more prominent */
            height: 8px;
            /* Adjusted to be more prominent */
            border: solid rgb(112, 230, 28);
            border-width: 0 0 3px 3px;
            transform: translate(-50%, -50%) rotate(-45deg);

        }

        a {
            text-decoration: underline;
            color: white;
            font-size: 18px;

            &:hover {
                color: rgba(151, 71, 255, 1);
            }
        }
    }

    h3 {
        font-size: 32px;
    }

    .mail {
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            position: relative;
            z-index: 2;
        }

        span {
            color: red;
            font: bold;
            font-size: 20px;
            text-align: center;
            height: 0px;
            margin-top: -25px;
        }

        input {
            width: 450px;
            height: 50px;
            border-radius: 10px;
            border: 2px solid rgba(151, 71, 255, 1);
            background-color: transparent;
            color: white;
            font-size: 20px;
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            padding: 10px 10px;
            box-sizing: border-box;

            @media(max-width:1200px) {
                width: 320px;
            }

            @media(max-width:350px) {
                width: 200px;
            }
        }

        textarea.big-input {
            height: 202px;
            width: 450px;
            border-radius: 10px;
            border: 2px solid rgba(151, 71, 255, 1);
            background-color: transparent;
            color: white;
            font-size: 20px;
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            padding-left: 10px;
            padding-top: 10px;
            box-sizing: border-box;

            @media(max-width:1200px) {
                width: 320px;
            }

            @media(max-width:350px) {
                width: 200px;
            }
        }
    }

    button {
        height: 58px;
        width: 253px;
        border-radius: 10px;
        color: white;
        cursor: not-allowed;

        &.enabled-button {
            background-color: rgba(112, 230, 28, 1);
            cursor: pointer;
        }

        &.disabled-button {
            background-color: gray; // Color when disabled
        }
    }
}

.end-line {
    position: relative;
    margin-top: 100px;
    width: 200vw;
    border-bottom: 3px solid rgba(112, 230, 28, 1);
    z-index: 2;
    margin-left: -100vw;
    margin-right: -100vw;

}

img {
    position: absolute;
    right: 0px;
    top: 2800px;
    z-index: -1;
}