.contact {
    display: flex;
    align-items: center;

    .line {
        width: 100px;
        border-bottom: 3px solid rgb(112, 230, 28);
        margin: 80px 0;
    }

    h1 {
        padding-left: 100px;
    }
}

.container {
    padding-left: 200px;
    padding-right: 200px;
    display: flex;
    align-items: flex-start;
    gap: 200px;
    position: relative;
    .checkbox{
        display: flex;
        width: 260px;
        
        p{
            font-size: 18px;
            text-underline-offset: inherit;
        }
        input{
            height: 30px;
            cursor: pointer;
        }
        a{
            text-decoration: underline;
            color: white;
            font-size: 18px;
            &:hover{
                color: rgb(236, 99, 99);
            }
        }
        
    }

    h3 {
        font-size: 32px;
    }

    .mail {
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 30px;
            /* Platz zwischen den Elementen */
        }
        span{
            color: red;
            font: bold;
            font-size: 32px;
            text-align: center;
        }
        
    }

    input {
        width: 617px;
        height: 50px;
        border-radius: 10px;
        border: 2px solid rgba(151, 71, 255, 1);
        background-color: transparent;
        color: white;

    }

    textarea.big-input {
        height: 202px;
        width: 617px;
        border-radius: 10px;
        border: 2px solid rgba(151, 71, 255, 1);
        background-color: transparent;
        color: white;

    }

    button {
        height: 58px;
        width: 253px;
        border-radius: 10px;
        color: white;
        cursor: not-allowed;
        &.enabled-button {
            background-color: rgba(112, 230, 28, 1);
            cursor: pointer;
          }
          &.disabled-button {
            background-color: gray; // Color when disabled
          }
    }

    img {
        position: absolute;
        top: -480px;
        right: 0;
        z-index: -1;
    }

    .goUp {
        position: absolute;
        right: 150px;
        top: 500px;
        cursor: pointer;
        z-index: 5;
    }
}

.end-line {
    margin-top: 100px;
    width: 100%;
    border-bottom: 3px solid rgba(112, 230, 28, 1);
    z-index: 2;
}

@media(max-width:1200px) {
    .container {
        flex-direction: column;
        align-items: center;
        padding: 0px 100px;
        gap: 100px;
        .mail{
            input{
                width: 320px;
            }
            textarea{
                width: 320px;
            }
        }

        .goUp {
            top: 800px;
        }

    }
}
@media(max-width:620px){
    .container{
        .goUp {
            top: 865px;
        }
    }
    
}

@media(max-width:513px){
    .contact{
        h1{
            padding-left: 30px;
        }
        
    }
    .container{
        .goUp {
            top: 1060px;
        }
    }
    
}
@media(max-width:392px){
    .container{
        .goUp {
            top: 1120px;
        }
    }
}
@media(max-width:350px){
.container{
    .mail{
        input{
            width: 200px;
        }
        textarea{
            width: 200px;
        }
        
    }
}
}