<section>
        <div class="menu" [ngClass]="{'menu-open': ls.isMenuOpen, 'menu-closed': !ls.isMenuOpen}">

                @if (ls.german) {
                        <img (click)="ls.toggleLanguage()" [src]="ls.imagePath" alt="Language Image" class="germany">
                <a (click)="closeMenu()" href="#aboutMe">Über mich</a>
                <a (click)="closeMenu()" href="#skills"> Fähigkeiten</a>
                <a (click)="closeMenu()" href="#portfolio">Portfolio</a>
                <a (click)="closeMenu()" href="#contact">Kontakt</a>

                }@else {
                        <img (click)="ls.toggleLanguage()" [src]="ls.imagePath" alt="Language Image" class="germany">
                <a (click)="closeMenu()" href="#aboutMe">About me</a>
                <a (click)="closeMenu()" href="#skills"> Skills</a>
                <a (click)="closeMenu()" href="#portfolio">Portfolio</a>
                <a (click)="closeMenu()" href="#contact">Contact</a>
                
                }
                
        </div>
        
        
</section>