
.menu-open {
  right: 0;
  height: 100vh;
}

.menu-closed {
  right: -200%;
  height: 0vh;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;
  font-size: 40px;
  width: 100%;
  position: relative;
  top: 110px;
  background-color: rgba(20, 29, 47,);
  transition: right 0.3s ease;
  max-width: 1990px;
  margin: 0px auto;
  @media (max-height:705px) {
    gap: 50px;
    justify-content: flex-start
  }
img{
  height: 30px;
}

  a {
    color: white;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
      color: #70E61C;
    }
  }
}

.x {
  color: white;
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 32px;

  &:hover {
    color: rgba(151, 71, 255, 1);
  }
}
.example::-webkit-scrollbar {
  display: none;
}

