.skill {
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
    gap: 60px;
    margin-top: 100px;
    position: relative;
    


    .wrap {
        display: flex;
        flex-wrap: wrap;
        width: 600px;
        gap: 60px;
        margin-top: 50px;
        z-index: 6;

        img {
            height: 100px;
            transition: all 150ms ease-in-out;
            cursor: pointer;

            &:hover {
                height: 150px;
            }
        }
    }

    .mySkills {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 500px;
        width: 685px;

        span {
            text-align: center;
        }
    }

    .grenn-shadow {

        position: absolute;
        top: 100px;
        left: 0px;
        z-index: -1;


    }

    button {
        align-self: center;
        height: 60px;
        width: 130px;
        background-color: #70E61C;
        color: #FFFFFF;
        font-size: 18px;
        border-radius: 15px;
        transition: all 0.3s ease-in-out;
        margin-top: 40px;
        

        &:hover {
            background-color: #9747FF;
            height: 70px;
            width: 160px;
            cursor: pointer;
        }
    }

}

@media (max-width:1425px) {
    .skill {
        h1 {
            text-align: center;
        }
    }
}

@media (max-width:1093px) {
    .skill {
        flex-direction: column-reverse;
        align-items: center;
        margin-top: 0px;
        gap: 0px;
        //  padding: 0px 100px;

        .mySkills {}
    }
}
@media (max-width:750px) {
    .skill {
        
        .mySkills {
            width: 340px;
            

        }
        .wrap {
            width: 368px;
            img{
                width: 70px;
                &:hover{
                    width: 70px;
                }
            }
            
        }
    }
}

@media(max-width:420px){
    .skill{
        padding: 0px 0px;
        .wrap{
            width: 235px;
            &:hover{
                width: 245px;
            }
            img{
                height: 70px;
            }
        }
        .mySkills{
            width: 330px;
        }
        
    }
}