<div class="skill">
    <div class="wrap">
        <div *ngFor="let image of images; let i = index">
            <img class="itIsIcon" src="{{images[i]}}" alt="">
        </div>
    </div>
    <div class="mySkills">
        <h1>Meine skills</h1>
        <span>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, culpa impedit? Quas voluptatum voluptatibus
            nesciunt maxime, fugiat mollitia debitis exercitationem, odio temporibus, vitae dolorem eaque sunt accusamus
            architecto. Quia, excepturi?
        </span>
        <button>Kontakt</button>
        <img class="grenn-shadow" src="assets/img/greenShadow2.png" alt="">
    </div>
    
    
</div>
