section {
    display: flex;
    flex-direction: column;
    height: 100vh;
    max-width: 1990px;
    margin: 0 auto;
    position: relative;

    .about-me {
        display: flex;
        flex-direction: row;
        align-content: center;
        align-items: center;
        position: relative;
        gap: 50px;
        margin-top: -30px;

        @media(max-width:1373px) {
            margin-top: 60px;
            gap: 30px;
            bottom: -100px;
        }

        @media(max-width:600px) {
            bottom: -140px;
        }

        img {
            transition: transform 0.5s ease-in-out;

            &:hover {
                cursor: pointer;
                transform: rotate(360deg);
            }
        }

        a {
            color: white;
            text-decoration: none;

            &:hover {
                cursor: pointer;
            }
        }

        .mail {
            @media(max-width:450px) {
                display: none;
            }
        }

        .line {
            width: 100vw;
            border-bottom: 3px solid #9747FF;
            margin: 80px 0;
            position: relative;
            left: -50px;
            margin-left: -94vw;
            ;

            img {
                height: 30px;
                width: 30px;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    .header {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 999;
    }

    .iAndInfo {
        display: flex;
        position: relative;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        padding: 0px 100px;
        background-color: rgba(20, 29, 47, 1);
        border-bottom-right-radius: 80%;
        height: 100%;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: -50vw;
            width: 50vw; // Volle Breite des Viewports
            height: 100%; // Volle Höhe des Containers
            background-color: rgba(20, 29, 47, 1);
            z-index: -1; // Hinter den anderen Inhalten
        }

        @media(max-width:1372px) {
            flex-direction: column;
            height: 677px;
            border-bottom-right-radius: 53%;
        }

        @media(max-width:500px) {
            height: 638px;
            border-bottom-right-radius: 37%;
        }

        .picture {
            z-index: 1;

            .andy {
                height: 670px;
                margin-top: 130px;
                transition: all 0.3s ease-in-out;

                @media(max-width:1372px) {
                    height: 530px;
                }

                @media(max-width:500px) {
                    height: 500px;
                }

                @media(max-width:360px) {
                    margin-top: 150px;
                    height: 440px;
                }

            }
        }

        .you {
            height: 500px;
            display: flex;
            align-items: center;
            transition: all 0.3s ease-in-out;
            z-index: 1;

            @media(max-width:1372px) {
                height: 130px;
            }

            @media(max-width:817px) {
                gap: 0px;
            }

            @media(max-width:500px) {
                text-align: center;
            }

            
            .frontend {
                display: flex;
                flex-direction: column;
                align-items: center;
                height: auto;
                position: relative;
                @media(max-width: 500px) {
                    width: 400px;
                    font-size: 35px;
                }
                .iAm {
                    font-size: 64px;
                    transform: rotate(270deg);
                    height: 50px;
                    width: auto;
                    transition: all 0.3s ease-in-out;
                    position: absolute;
                    left: -135px;
                    top: 60px;
    
                    @media(max-width: 1669px){
                        left: -100px
                    }
                    @media(max-width: 1737px) {
                        font-size: 35px;
                        height: 0px;
                    }
    
                    @media(max-width:800px) {
                        font-size: 35px;
                    }
                    @media(max-width: 500px){
                        left: 10px;
                        font-size: 30px;
                    }
                }
    

                

                .two {
                    gap: 30px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    transition: all 0.3s ease-in-out;

                    @media(max-width: 1737px) {
                        gap: 10px;
                    }

                    @media(max-width: 800px) {
                        align-items: center
                    }
                    

                    h1 {
                        font-size: 90px;
                        transition: all 0.3s ease-in-out;

                        @media(max-width: 1737px) {
                            font-size: 60px;
                        }

                        @media(max-width: 550px) {
                            font-size: 30px !important;
                        }

                    }

                    span {
                        font-size: 70px;
                        color: rgba(151, 71, 255, 1);
                        transition: all 0.3s ease-in-out;

                        @media(max-width: 1737px) {
                            font-size: 40px;
                        }

                        @media(max-width: 660px) {
                            font-size: 29px;
                        }

                        @media(max-width: 550px) {
                            font-size: 20px;
                        }

                    }
                }

                button {
                    height: 60px;
                    width: 130px;
                    background-color: #70e61c;
                    color: #fff;
                    font-size: 18px;
                    border-radius: 15px;
                    transition: all .3s ease-in-out;
                    transform: translate(-50%);
                    border: none;
                    margin-top: 50px;
                    position: absolute;
                    z-index: 3;

                    &:hover {
                        background-color: #9747FF;
                        height: 70px;
                        width: 160px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

.hintergrund {
    position: absolute;
    top: 100px;
    left: 0;
    z-index: 0;
    max-width: 100%;
    height: 700px;

    @media(max-width:690px) {
        height: auto;
    }

    @media(max-width:360px) {
        top: 135px;
    }
}

.scroll {
    transform: rotate(90deg);
    position: absolute;
    font-size: 20px;
    top: 0px;
    right: 0px;
    cursor: pointer;
    animation: move 1s ease-in-out infinite;
    z-index: 99;

    a {
        text-decoration: none;
        color: white;
    }

    @media (max-width: 800px) {
        display: none;
    }
}

@keyframes move {
    0% {
        top: 900px;
    }

    50% {
        top: 920px;
    }

    100% {
        top: 900px;
    }
}