.iAndInfo {
    display: flex;
    justify-content: space-around;
    position: relative;
    font-size: 60px;
    border-bottom-right-radius: 80%;
    z-index: 3;
    background-color: rgba(20, 29, 47, 1);
    height: 100vh;
    max-width: 1990px;
    margin: 0px auto;
    

    .andy {
        height: 925px;
        width: auto;
        padding-left: 100px;
        transition: all 0.3s ease-in-out;

    }

    img {
        height: 730px;
        width: 730px;
        position: absolute;
        left: 0px;
        z-index: -1;
        transition: all 0.3s ease-in-out;

    }

    .you {
        display: flex;
        align-items: center;
        padding-right: 100px;
        position: relative;
        // transition: all 0.3s ease-in-out;

        button {
            align-self: center;
            height: 60px;
            width: 130px;
            background-color: #70E61C;
            color: #FFFFFF;
            font-size: 18px;
            border-radius: 15px;
            transition: all 0.3s ease-in-out;
            margin-top: 40px;
            position: absolute;
            top: 50px;
            transform: translateX(-50%);
            border: none;

            &:hover {
                background-color: #9747FF;
                height: 70px;
                width: 160px;
                cursor: pointer;
            }

        }
    }

    .iAm {
        transform: rotate(270deg);
        height: 0px;
        display: block;
        animation: text 1s ease-in-out;
        position: relative;

        @keyframes text {
            0% {
                left: 100%;
            }

            80% {
                left: -10%;
            }

            100% {
                left: 0%;
            }
        }
    }

    .frontend {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 40px;
        animation: front 1s ease-in-out;
        position: relative;
        gap: 20px;
        margin-bottom: 50px;

        @keyframes front {
            0% {
                top: -100%;
            }

            80% {
                top: 10%
            }

            100% {
                top: 0%;
            }
        }

        .name {
            font-size: 63px;
        }
    }

    .linePurple {
        color: #9747FF;
    }
}

@media(max-width:1596px) {
    .iAndInfo {
        justify-content: space-between;

        .frontend {

            .name {
                font-size: 45px;
            }
        }
    }
}

@media(max-width:1388px) {
    .iAndInfo {
        flex-direction: column;

        .andy {
            left: 200px;
            height: 650px;
            width: auto;
        }

        .you {
            justify-content: center;

        }
    }
}

@media(max-width:850px) {
    .iAndInfo {
        .andy {
            left: 100px;
        }

        img {
            height: 645px;
            width: 575px;
        }
    }

}

@media(max-width:800px) {
    .iAndInfo {
        font-size: 32px;
        border-bottom-right-radius: 60%;

        img {
            height: 530px;
            width: 420px;
        }

        .andy {
            left: 0px;
        }

        .frontend {
            font-size: 29px;
        }
    }
}

@media(max-width:611px) {
    .iAndInfo {
        height: 70vh;

        .andy {
            height: 455px;
        }
    }
}

@media(max-width:560px) {
    .iAndInfo {
        .you {
            flex-direction: column;
            padding-right: 0px;
            .frontend {
                text-align: center;
            }
        }
        .iAm {
            transform: none;
            height: 32px;
        }

    }
}

@media(max-width:467px) {
    .iAndInfo {
        .andy {
            padding-left: 0;
            height: 420px;
            width: 322px;
        }
        img {
            width: 320px;
        }
    }
}

@media(max-width:350px) {
    .iAndInfo {
        .frontend {
            text-align: center;
            display: flex;
            align-items: center;
            .name {
                font-size: 35px;
            }
        }

        img {
            height: 290px;
            width: auto;
        }

        .andy {
            height: 390px;
            width: auto;
        }

        .you {
            padding-right: 0px;
            padding-left: 23px;

            button {
                margin-top: 55px;
            }
        }
    }
}